{% extends 'base.html' %}

{% block title %}
  New Tag
{% endblock %}

{% block content %}
  <div>
    <div>
      <h1>Create a Tag</h1>
    </div>
    <form method="POST">
      <div class="form-group">
        <label for="name">
          Name
        </label>
        <input 
          type="text" 
          id="name" 
          name="name" 
          class="form-control"
          placeholder="Enter a name for the tag"
        >
      </div>
      <div>
        <button class="btn btn-outline-primary">
          <a href="/tags">
            Cancel
          </a>
        </button>
        <button class="btn btn-success">
          Add
        </button>
      </div>
    </form>
  </div>
{% endblock %}