{% extends 'base.html' %}

{% block title %}
  Tag - {{tag.name}}
{% endblock %}

{% block content %}
  <div>
    <h1>{{tag.name}}</h1>
    <ul>
      {% for post in tag.posts %}
        <li>
          <a href="#">
            {{post.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
    <div>
      <button class="btn btn-primary">
        <a href="/tags/{{tag.id}}/edit" class="text-white">
          Edit
        </a>
      </button>
      <button class="btn btn-danger">
        <a href="/tags/{{tag.id}}/delete" class="text-white">
          Delete
        </a>
      </button>
    </div>
  </div>
{% endblock %}