{% extends 'base.html' %}

{% block title %}
  {{user.full_name}}
{% endblock %}

{% block content %}
  <div class="media mt-5">
    <img class="img-thumbnail align-self-center img-fluid align-self-start mr-3" src="{{user.image_url}}" height="200" width="200" alt="{{user.full_name}}">
    <div class="media-body">
      <h3 class="mt-0">
        {{user.full_name}}
      </h3>
      <button class="btn btn-primary">
        <a href="/users/{{user.id}}/edit" class="text-white">
          Edit
        </a>
      </button>
      <button class="btn btn-danger">
        <a href="/users/{{user.id}}/delete" class="text-white">
          Delete
        </a>
      </button>
    </div>
  </div>
{% endblock %}